
.header__square-pic_rotation {
  animation: square-pic_rotation 20s linear infinite;
}
@keyframes square-pic_rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}